@import "../../../../scss/mixins";
@import "../../../../scss/color";
@import "../../../../scss/utils";

#model-settings {
  background-color: $white;
  width: 100%;

  @include mq($width: 768px) {
    display: flex;
    overflow: hidden;
    height: 100vh;
  }

  #nav_button {
    font-family: inherit;
    background-color: $white;
    color: $red;
    border-radius: 0.3em;
    font-weight: 600;
    cursor: pointer;

    @include mq($width: 240px) {
      font-size: 0.5rem;
      padding: 5px;
    }

    @include mq($width: 280px) {
      font-size: 0.6rem;
      padding: 0.5em;
    }

    @include mq($width: 336px) {
      font-size: 0.7rem;
      padding: 5px;
    }
  }

  .model-setting-main {
    width: 100%;

    @include mq($width: 768px) {
      width: 75%;
      overflow-y: auto;
    }
    @include mq($width: 1050px) {
      width: 85%;
      overflow-y: auto;
    }
  }
}
